:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100%;
}
#game-board {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}
#bullet-zone {
  height: 50px;
  /* align-self: flex-end; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}
#player-zone {
  height: 50px;
  /* align-self: flex-end; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
  flex-shrink: 0;
}
#player {
  width: 50px;
  height: 100%;
  background-color: royalblue;
  position: relative;
  bottom: 0px;
  align-self: flex-end;
  /* left: 0; */
}
.bullet {
  width: 5px;
  height: 20px;
  /* left: 0px; */
  background-color: rgb(194, 194, 194);
  position: absolute;
  z-index: 100;
  bottom: 0;
  margin: 10px;
  align-self: center;
  order: 0;
  flex-shrink: 0;
  position: absolute;
  /* left: 50%;
  transform: translate(-50%, 0); */
  /* left: 0; */
  /* margin-left: auto;
  margin-right: auto; */
}
#stats-bar {
  width: 100%;
  height: 12vh;
  background-color: rgb(73, 73, 75);
}
#alien {
  width: 25px;
  height: 25px;
  /* border-radius: 50%; */
  background-color: rgb(0, 189, 9);
  position: absolute;
  top: 10px;
  align-self: center;
  margin: 10px;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
  height: 100vh;
}
